.task-list{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;
}

.btn{
    height: fit-content !important;
}


.completed{
    color: red;
}