.task-list{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0 0.5rem;
    border-radius: 20px;
}

.task-list-border{
    border-left: 1rem black solid;
}

.trash-can{
    height: fit-content !important;
    font-size: 1.5rem !important;
}


.completed{ 
    color: red;
    text-decoration: line-through;
   
}